<p id="notice"><%= notice %></p>

<h1>Listing Bug Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bug_assignments.each do |bug_assignment| %>
      <tr>
        <td><%= bug_assignment.timestamp %></td>
        <td><%= link_to 'Show', bug_assignment %></td>
        <td><%= link_to 'Edit', edit_bug_assignment_path(bug_assignment) %></td>
        <td><%= link_to 'Destroy', bug_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug assignment', new_bug_assignment_path %>
