<h2>Bug Hunt</h2>
<link rel="stylesheet" type="text/css" href="/assets/application.css">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/hunts">Bug Hunts</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href = "/bugs">Bugs</a> </li>
  <li><a class="active" href = "/signup">Sign Up</a></li>
  <li><a href = "/login">Login</a></li>
</ul>

<div class="login" style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>
      <%= form_for @user do |f| %>
        <%= f.label :name %>:
        <%= f.text_field :name %><br />

        <%= f.label :title %>:
        <%= f.text_field :title %><br />
      	
      	<%= f.label :email %>:
        <%= f.email_field :email %><br />
			
        <%= f.label :passowrd %>:
        <%= f.password_field :password %><br />

        <%= f.submit %>
      <% end %>


  
    </div>
  </div>
</div>
