<link rel="stylesheet" type="text/css" href="/assets/application.css">

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/hunts">Bug Hunts</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href = "/bugs">Bugs</a> </li>
  <li><a href = "/signup">Sign Up</a></li>
  <li><a href = "/login">Login</a></li>
</ul>
<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bug.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @bug.points %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @bug.completed %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bug.url %>
</p>

<p>
  <strong>Created:</strong>
  <%= @bug.created %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
</div>
